<app-toolbar></app-toolbar>
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="side" opened="true" *ngIf="true" class="custom-sidenav">
    
<div class="row" *ngIf="login">
    <button class="col-12 start"  mat-button *ngFor="let item of list"
        [routerLink]="item.path"
         
          >{{item.label}}</button>
        </div>
  </mat-sidenav>
  <app-loader [hidden]="true"></app-loader>
  <div class="app-content app-content-layout" [hidden]="false">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
